/*? variables */

:root{

}

/*? properties */

body{
    width: 100svw;
    height: 100svh;
    border: 0.5rem solid red;
}
.pageRight-column{
    width: auto;
    height: 100%;
    border: 0.5rem solid blue;
}
.pageLeft-column{
    width: 30%;
    height: 100%;
    border: 0.5rem solid blue;
    background: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 200% ;/* or make it auto, but the quality sucks*/
    background-repeat: no-repeat;
    background-position: center;
}
.image-row{
    background: black;
    width: 100%;
    height: 15%;
}

img {
    width: auto;
    max-height: 100%;
  }

form{
    width: 100%;
    height: auto;
}
fieldset{
    width: 100%;
}

ul{
    list-style: none;
    height: auto;
    width: 30%;
    padding-left: 0;
}

.input-container-row{
    width: 100%;
}
li{
    width: 100%;
}
input,label{
    width: 100%;
}
/*? flexbox */

body{
    display: flex;
    flex-direction: row;
}

.image-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50%;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;/* your better off spreading them evenly with justify content*/
}

.input-container-row{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}