/*? variables */
@font-face {
    font-family: 'Norse Bold';
    src: url('Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{

    --logoSize:5rem;

}

/*? properties */

body{
    margin: 0;
    padding: 0;
    width: 100svw;
    height: 100svh;
    /* border: 0.5rem solid red; */
}
.pageRight-column{
    width: 60%;
    height: 100%;
    /* border: 0.5rem solid blue; */
    background-color: #F5F7F8;
}
.pageLeft-column{
    width: 40%;
    height: 100%;
    /* border: 0.5rem solid blue; */
    background: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 200% ;/* or make it auto, but the quality sucks*/
    background-repeat: no-repeat;
    background-position: center;
}
.image-row{
    background: #1A213066; /*the last 2 digits of hex are the opacity percentage*/
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

img{
    width: auto;
    /* max-height: 100%; */
    max-height: var(--logoSize);
  }

.logoText{
    font-size: var(--logoSize);
    margin: 0;
    font-family: 'Norse Bold', Times, serif;
    line-height: 1;
    color: white;
}


form{
    width: 100%;
    height: auto;
    
}
fieldset{
    margin: 0;
    padding: 0;
    padding-left: 2rem;
    width: 100%;
    background: white;
    border: none;
    box-shadow: 3px 3px 7px #B4B4B8;
}

ul{
    list-style: none;
    height: auto;
    width: 30%;
    padding-left: 0;
}

.input-container-row{
    width: 100%;
}
li{
    width: 100%;
}
input,label{
    width: 100%;
}

.pageRight-column .text{
    max-width: 60ch;
    font-size: 1.2rem;
    font-weight: 600;
}
.pageRight-column > :not(form), form > :not(fieldset){ /* everything thats not the form or fieldset, move it from the left by a little*/
    margin-left: 2rem;
}

button{
    margin-top: 1.5rem;
    background: #596D48;
    border: none;
    color: white;
    border-radius: 0.4rem;
    padding: 1rem 2rem 1rem 2rem; /*top right bottom left, clock rotation*/
    font-size: 1rem;
    box-shadow: 3px 3px 7px #B4B4B8;
}

button:hover{
    background: #80AF81;
}

label{
    font-size: 0.8rem;
}
input{
    height: 2rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #DDDDDD;
}
a{
    color: #596D48;
    text-decoration: none;
}

/*? flexbox */

body{
    display: flex;
    flex-direction: row;
}

.pageRight-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.image-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;/* your better off spreading them evenly with justify content*/
}

.input-container-row{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

